
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<h1>Welcome to the About Page!</h1>
    <p>Thank you for visiting this page to learn more about me.</p>

    <h2>About Me</h2>
    <p>I am Sameshnie Sookram, and I am a student in Business IT program at Seneca Colledge. My student ID is: <b>169126224</b></p>
    <p>I am passionate about Project management and databases..</p>
    <p>Throughout my studies I have acquired knowledge and experience in various aspects of the IT World. </p>
    <p>I am excited to continue learning and growing in the IT Field. </p>

					
					
					<!-- End your code here  -->



				</main>
			</div>
		