<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->

		<header>
						<h1>About Me</h1>
					</header>
					<br><br>
					<p> <b><i>Alex is a dedicated student currently pursuing a degree at Seneca college. With
						a passion for entrepreneurship and strategic thinking, Alex is constantly 
						seeking opportunities to expand his knowledge and skills in the business 
						information world.</i></b></p>
					<br>
						<h5>
						<ul>Tutor: Alex Chukwuka Nwanya</ul>
						<ul>Seneca Student Number: 143462224 </ul>
						<ul>Program: Postgraduate Certificate in Business Information Technology </ul>
						<ul>College: Seneca College, Toronto, ON </ul>
					</h5>

		<!-- End your code here  -->



	</main>
</div>