<div class="row">
	<main class="col-md-12">



	<!-- Start your code here -->
	<h1>Welcome to my website!</h1>
    <p>I'm Sameshnie Sookram and here, I will be demonstrating HTML5 principles and techniques, including routing in Express.</p>

    <h2>About This Website</h2>
    <p>This site consists of 3 static views: Home, About, and HTML Demo. Additionally, it provides 5 routes that supply data, including:
        All Students, Students by Course, A Single Student By Student Number, All TAs, and All Courses. Below are the relevant links:</p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/htmldemo">HTML Demo</a></li>
        <li><a href="/students">All Students</a></li>
        <li><a href="/students?course=7">Students by Course</a></li>
        <li><a href="/student/1">A Single Student By Student Number</a></li>
        <li><a href="/courses">All Courses</a></li>
    </ul>

    <h2>Introduction to HTML5</h2>
    <p>This site utilizes HTML5, a markup language used for structuring and presenting content on the World Wide Web. HTML5 provides
        enhanced semantic elements, improved multimedia support, and better compatibility with modern web technologies.</p>

					
					
					<!-- End your code here  -->



	</main>
</div>
		